<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      
      <!-- Assume test is the database name -->
      <!--  jdbc:mysql://tddb-nsapptd.193b.starter-ca-central-1.openshiftapps.com:3306/motradedb -->   
      <property name = "hibernate.connection.url">
     jdbc:mysql://65.19.141.67:3306/citmohan_week
      </property>
      
      <property name = "hibernate.connection.username">
        citmohan_system
      </property>
      
      <property name = "hibernate.connection.password">
        jurong123
      </property>
      <property name="hibernate.current_session_context_class">thread</property>
      <!-- List of XML mapping files -->
      <mapping resource = "/hibernateconfig/WsAuthenticator.hbm.xml"/>
      <mapping resource = "/hibernateconfig/Allstock.hbm.xml"/>
      <mapping resource = "/hibernateconfig/TickDataObject.hbm.xml"/>
      <mapping resource = "/hibernateconfig/Defaultcomplexsetting.hbm.xml"/>
      <mapping resource = "/hibernateconfig/Defaultsimplesetting.hbm.xml"/>
      <mapping resource = "/hibernateconfig/Nsebase.hbm.xml"/>
      <mapping resource = "/hibernateconfig/Nsefibdata.hbm.xml"/>
      <mapping resource = "/hibernateconfig/Nsetrend.hbm.xml"/>
      <mapping resource = "/hibernateconfig/Pivot.hbm.xml"/>
        <mapping resource = "/hibernateconfig/Newphpdata.hbm.xml"/>
         <mapping resource = "/hibernateconfig/InvestStratone.hbm.xml"/>
           <mapping resource = "/hibernateconfig/NseWavedata.hbm.xml"/>
          <mapping resource = "/hibernateconfig/InvestStratTwo.hbm.xml"/>
     
    
      
   </session-factory>
</hibernate-configuration>