<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "invstrategy1" class = "springbeans.InvestmentStrategy1" scope = "prototype" destroy-method="cleanUp">
   <constructor-arg type = "boolean" value = "true"/>
   </bean>
   
    <bean id = "invstrategy2" class = "springbeans.InvestmentStrategy2" scope = "prototype" destroy-method="cleanUp">
   <constructor-arg type = "boolean" value = "true"/>
   </bean>
  

</beans>